@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light', cursive;
  background-image: url('./bg_2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin: 10px auto;
  color: aliceblue;
  font-size: 48px;
}

li {
  font-family: 'Shadows Into Light', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 50px auto;
  width: 100vh;
}

.body-tasks {
  min-height: 400px;
}

#currInput {
  width: 400px;
  height: 40px;
  border: 1px solid #999;
  padding: 10px;
  outline: none;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: black;
  font-weight: 700;
  opacity: 0.9;
}

.close {
  text-align: right;
  background: #b92eb9;
  font-family: sans-serif;
  height: 28px;
  padding-bottom: -15px;
  margin-right: 10px;
  margin-bottom: 12px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  transition: background 0.5s ease;
}

.close:hover {
  background: rgb(198, 115, 233);
}

.oneTask {
  text-decoration: line-through;
  filter: brightness(80%);
  display: block;
  transition: 1s;
}

.oneTask::before {
  content: '\2714';
  margin-right: 10px;
}

.btn {
  height: 40px;
  width: 101px;
  background: lightgreen;
  border: 1px solid #999;
  cursor: pointer;
  margin-left: -9px;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: black;
  font-weight: 700;
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgb(130, 209, 143);
}

.body-tasks ul li {
  list-style: none;
  background-color: lightblue;
  opacity: 0.9;
  font-size: 1.4em;
  width: 499px;
  min-height: 41px;
  padding: 6px 0 0 20px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
  transition: 1s;
  font-family: inherit;
  position: relative;
  padding-right: 50px;
  overflow: hidden;
}

.task {
  list-style: none;
  background-color: aliceblue;
  width: 499px;
  height: 40px;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
}

.developer p {
  text-align: right;
  margin: 0 25px 0 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: aliceblue;
  background-color: black;
  padding: 0 7px;
}
